
<!-- Footer -->

<footer class="page-footer font-small special-color-dark">

    {# <!-- Footer Links -->
    <div class="container-fluid">
  
      <!-- Grid row-->
      <div class="row text-center justify-content-center d-flex">
  
        <!-- Grid column -->
        <div class="col-md-2 mb-1 smooth-scroll">
          <h6 class="font-weight-bold">
            <i class="fas fa-info fa-1x"></i>
            <a href="{{path('about')}}"> A propos</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-1 smooth-scroll">
          <h6 class="font-weight-bold">
            <i class="fas fa-user-plus fa-1x"></i>
            <a href="{{path('register')}}"> Inscription</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-1 smooth-scroll">
          <h6 class="font-weight-bold">
            <i class="fas fa-sign-in-alt fa-1x"></i>
            <a href="{{path('signin')}}"> Connexion</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3 smooth-scroll">
          <h6 class="font-weight-bold">
            <i class="fas fa-newspaper fa-1x"></i>
            <a href="{{ path('blog') }}"> E-News</a>
          </h6>
        </div> 
        <div class="col-md-2 mb-3 smooth-scroll">
          <h6 class="font-weight-bold">
            <i class="fas fa-hands-helping fa-1x"></i>
            <a href="{{ path('partner') }}"> Partenariat</a>
          </h6>
        </div>
        <!-- Grid column -->
        <div class="col-md-2 mb-3 smooth-scroll">
          <h6 class="font-weight-bold">
            <i class="fas fa-phone fa-1x"></i>
            <a href="{{path('contact')}}"> Contact</a>
          </h6>
        </div>
  
      </div>
      <!-- Grid row-->
      <hr class="rgba-white-light" style="margin: 0 8%;">
  
      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
  
        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
            explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
      <hr class="clearfix rgba-white-light" style="margin: 2% 8% 2%;">
  
      <!-- Grid row-->
      <div class="row pb-3">
        <!-- Grid column -->
        <div class="col-md-12">
          <div class="mb-5 flex-center">
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook fa-lg white-text mr-4"></i>
            </a>
            <a class="fb-ic">
              <i class="fab fa-instagram fa-lg white-text mr-4"></i>
            </a>
            <a class="fb-ic">
              <i class="fab fa-twitter fa-lg white-text mr-4"></i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
    <!-- Footer Links --> #}
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"><i class="fas fa-copyright"></i> {{'now'|date('Y')}} Tous droits reservés :
      <a href="#" class="color">SAMA Money</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->